<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364634384884-i9hr83qmaps5cl1s14gp55gokv5p74c9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364634384884-i9hr83qmaps5cl1s14gp55gokv5p74c9</string>
	<key>API_KEY</key>
	<string>AIzaSyBdpBSKOGXHB6ZR_UWjSeWK9xKpvW0SZIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>364634384884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>newproject-b6a5d</string>
	<key>STORAGE_BUCKET</key>
	<string>newproject-b6a5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364634384884:ios:b3fe3b76cd45d6d292f1a1</string>
</dict>
</plist>